/* General */
body {
    font-family: 'Didot', serif; /* Fuente elegante */
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Slider Styles */
.slider {
    position: relative;
    overflow: hidden;
    height: 400px; /* Ajusta la altura según sea necesario */
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: auto;
}

/* Text Styles */
.slider-text, .slider-brand {
    position: absolute;
    color: #fff;
    text-align: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    z-index: 1;
}

.slider-text {
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em; /* Ajusta el tamaño del texto según sea necesario */
}

.slider-brand {
    bottom: 20px; /* Ajusta el margen inferior según sea necesario */
    font-size: 2em; /* Ajusta el tamaño del texto según sea necesario */
}

/* Estilos para el indicador del slider */
.slider-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.slider-indicator {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider-indicator.active {
    background-color: #000;
}

/* Sección de Productos */
#productos {
    padding: 20px;
    background-color: #f8f8f8;
    margin-top: 80px; /* Para no tapar el contenido por el header fijo */
}

#productos h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Filtro */
.filter-container {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

#filter-button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    position: relative;
}

#filter-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 100%;
    left: 0;
    min-width: 160px;
    z-index: 1000;
}

#filter-dropdown a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#filter-dropdown a:hover {
    background-color: #ddd;
}

.filter-container:hover #filter-dropdown {
    display: block;
}

/* Contenedor de Productos */
.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Estilos de los Productos */
.producto {
    width: 22%;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.producto img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.producto h3 {
    margin: 10px 0;
    color: #333;
}

.producto span {
    color: #666;
}

/* Barra de Información */
.info-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    bottom: 0;
}

.info-bar span {
    display: flex;
    align-items: center;
}

.info-bar .info-icon {
    margin-right: 8px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Modal Styles */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1; /* Asegúrate de que esté sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-image {
    width: 100%;
    height: auto;
}

#modal-description {
    margin-top: 15px;
}

/* Media Queries */
@media (max-width: 768px) {
    .producto {
        width: 45%;
    }

    .slider-text {
        font-size: 18px;
    }

    .slider-brand {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .producto {
        width: 90%;
    }

    .order-container button {
        width: 100%;
        font-size: 14px;
    }

    .info-bar {
        flex-direction: column;
        gap: 10px;
    }

    .info-bar span {
        font-size: 14px;
    }

    .slider-text {
        font-size: 16px;
    }

    .slider-brand {
        font-size: 24px;
    }
}
